body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    background: #111;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

/* Hero Section */
.hero {
    background: #f4f4f4;
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 40px;
}

.hero p {
    font-size: 18px;
    color: #555;
}

.hero button {
    padding: 12px 25px;
    font-size: 16px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

/* Features */
.features {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.box {
    background: #ffffff;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 10px rgb(0,0,0);
}
