#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
  background: #131921;
  color: white;
}

.navbar input {
  flex: 1;
  padding: 6px;
}

.cart {
  font-size: 18px;
}

.home {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.product-list {
  width: 40%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.card {
  border: 1px solid #8b4242;
  padding: 10px;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.details {
  width: 60%;
}
